body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 38%) {
  video {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 38%;
  opacity: 0;
  z-index: 1;
}

.coming-soon {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1;
}

video.muted::-webkit-media-controls-start-playback-button {
  display: none;
}
